<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pick A Movie</title>
  <link type="text/css" rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <%- include('navbar.ejs') %>

   
      <h2>Welcome to the movie picker!</h2>
      <p>Let's search for your next favourite Movie or TV Show: </p>
      

      <form action="/search" method="POST">
        <div class="toggle-container">
          <input type="radio" id="movie" name="type" value="movie">
          <label for="movie" class="radio-label">Movie</label>
          <input type="radio" id="tvshow" name="type" value="show">
          <label for="tvshow" class="radio-label">TV Show</label>
        </div>
      
        <div class="buttonSearch">
          <button type="submit" class="search-button">Search</button>
        </div>

      </form>


    
      <% if (typeof movies !=='undefined') { %>
        <h2><%= movies[0].type %>s</h2>
        <div class="movie-list">
          <% movies.forEach((movie)=> { %>
            <% const movieGenre=movie.genres %>
              <ul>
                <li>
                  <div class="movie-item">
             
                  <%= movie.title %>
        
                  <a href="/movie/<%= movie.imdbid %>">
                    <% if (movie.hasOwnProperty('imageurl')) {%>
                      <img src="<%= movie.imageurl[0] %>" 
                      alt="<% movie.title %> Poster" class="image-hover image-size">
                      <% } %>
                  </a>
                  
                  <div class="genres">
                    <% if (movie.genre) { %>
                      <% const genreArray=Object.values(movie.genre); %>
                      <% genreArray.forEach(genre=> { %>
                        <%= genre %>
                          <% }); %>
                        <% } else { %>
                          Genres not available
                        <% } %>
                  </div>
                  </div>
        
                </li>
              </ul>
              <% }) %>
                <% } %>
        
        </div>

</body>

</html>